[project]
name = "zcu-tools"
version = "0.1.0"
description = "Tools for Qubit Measurement on ZCU216"
readme = "README.md"
requires-python = ">=3.9"
dependencies = ["numpy", "tqdm", "matplotlib", "typing-extensions"]

[project.optional-dependencies]
client = [
    "qick",
    "numpy==1.23.5",
    "matplotlib==3.9",
    "pyyaml",
    "dill",
    "pyvisa",
    "jupytext",
    "pyro4",
]
server = ["qick", "dill", "numpy==1.23.5"]
fit = [
    "h5py",
    "ipykernel",
    "ipywidgets",
    "ipympl",
    "pandas",
    "scqubits",
    "plotly",
    "kaleido",
    "scipy",
    "nbformat>=4.2.0",
    "scikit-learn",
    "joblib",
    "numba",
    "requests",
    "flask",
    "jupytext",
]
gdrive = [
    "google-api-python-client",
    "google-auth-httplib2",
    "google-auth-oauthlib",
    "python-dotenv",
]

[build-system]
requires = ["setuptools>=61.0", "wheel"]
build-backend = "setuptools.build_meta"

[tool.setuptools]
package-dir = { "" = "lib" }
packages = ["zcu_tools"]

[tool.ruff.lint]
ignore = ["E402", "F401"]

[tool.pyright]
include = ["lib"]
typeCheckingMode = "off"
reportExplicitAny = "none"
reportMissingTypeStubs = "none"

[tool.jupytext]
notebook_metadata_filter = "-all"
cell_metadata_filter = "-all"
