[project]
name = "zcu-tools"
version = "0.1.0"
description = "Tools for Qubit Measurement on ZCU216"
readme = "README.md"
requires-python = ">=3.9"
dependencies = ["numpy", "tqdm", "matplotlib", "typing-extensions"]

[project.optional-dependencies]
client = [
    "zcu-tools[fit]",
    "qick @ git+https://github.com/openquantumhardware/qick.git",
    "labber @ git+https://github.com/Axelisme/labber_api.git",
    "numpy==1.23.5",
    "matplotlib==3.9",
    "pyyaml",
    "pyvisa",
    "pyro4",
]
server = ["numpy==1.23.5"]
fit = [
    "h5py",
    "ipykernel",
    "ipywidgets",
    "ipympl",
    "pandas",
    "scqubits",
    "plotly",
    "kaleido",
    "scipy",
    "nbformat>=4.2.0",
    "scikit-learn",
    "joblib",
    "numba",
    "requests",
    "flask",
    "jupytext",
    "scikit-optimize",
]
gdrive = [
    "google-api-python-client",
    "google-auth-httplib2",
    "google-auth-oauthlib",
    "python-dotenv",
]

[build-system]
requires = ["setuptools>=61.0", "wheel"]
build-backend = "setuptools.build_meta"

[tool.setuptools]
package-dir = { "" = "lib" }
packages = ["zcu_tools"]

[tool.ruff.lint]
ignore = ["E402", "F401"]

[tool.pyright]
include = ["lib"]
typeCheckingMode = "basic"
reportExplicitAny = "none"
reportMissingTypeStubs = "none"

[tool.jupytext]
notebook_metadata_filter = "-all"
cell_metadata_filter = "-all"

[tool.uv]
environments = [
    "sys_platform == 'linux' and platform_machine == 'x86_64'",
    "sys_platform == 'win32' and platform_machine == 'AMD64'",
    "sys_platform == 'darwin' and platform_machine == 'arm64'",
]
